<% if Message.where(relation: @complaint.relation).first == message || @date != message.date %>
	<div class="date"><%= message.date %></div>
	<% @date = message.date %>
<% end %>
<div class="card">
    <div class="row" style="margin: 0;">
      
      <div class="card-block <% if current_user.username==message.user_id %>self<%else%>other<%end%>">
        <p class="card-text">
	<% member = Member.find_by(username: message.user_id) %> 
	<% if member.present?%>
          <span class="stamp"><%= User.find_by(username: message.user_id).fullname%> | <%=member.position %></span><br>
        <% else %>
	<span class="stamp"><%= User.find_by(username: message.user_id).fullname%> | <%=message.user_id %></span><br>
	<% end %> 
	 <%= message.body %><br>
          <small class="pull-right"><%= message.timestamp %></small>
        </p>
      </div>
    </div>
</div>
