
<% if logged_in? %>

<h1>Register a new complaint</h1>
	<%= form_for(:complaint, url: complaints_path, method: :post) do |f| %>
		<select id="complaint_category" name="complaint[category]">
    <option value="">Select a category</option>
    <option value="1">Mess</option>
    <option value="2">Facility</option>}
    </select>
    <br><br>
		<%= f.select "mess_id",options_from_collection_for_select(Category.where(type_id: '1'),"id","name"),{:prompt => "Select a mess"}, {:style => "display:none",:id => "mess"} %>
		<%= f.select "facility_id",options_from_collection_for_select(Category.where(type_id: '2'),"id","name"),{:prompt => "Select a facility"}, {:style => "display:none",:id => "facility"} %>
		<%= f.text_field :title, placeholder: "Title", class:"form-control" %><br>
		<%= f.text_area :content, placeholder: "Content", class:"form-control" %><br>
		<%= f.file_field :attachment %><br><br>
    <%= f.submit :Submit, class: "btn btn-primary"%>
	<% end %>
<% end %>
<script type="text/javascript">
  $(function () {
    $("#complaint_category").change(function () {
        var category = $(this).val();
        if (category == "1") {
          $("#mess").show();
        console.log("show");
        } else {
          $("#mess").hide();
	  console.log("hide");
        }
	if (category == "2") {
          $("#facility").show();
        console.log("show");
        } else {
          $("#facility").hide();
	  console.log("hide");
        }
    });

  });
</script>
