	<% if (1..3).include?session[:admin].to_i %>
	    <%= form_tag 'complaints_all', id: 'date', method: :get, remote: true do %> 	
		<% from = Complaint.first.created_at && to = Complaint.last.created_at %>
		<%= select_month(Date.today,start_month: 1, end_month: 12, :prefix => "month", :discard_type => true) %>
		<%= select_year(Date.today,:start_year => from.year, :end_year => to.year, :prefix => "year", :discard_type => true) %>
    	    <% end %>
		<div class="ajax"><%= render 'list' %></div>	
	<p style="font-size: 13px;position: absolute;color: grey;bottom: -29px;font-weight:bold;">Notice: Refresh page if no changes occur while changing dates. Contact us at <a href="mailto:institutewebops@gmail.com" target="_blank">institutewebops@gmail.com</a> for further assistance.</p>
	<% else %>
		<h1>Login Here</h1>
			<%= form_for(:session, url: all_path, method: :post) do |f| %>
				<%= f.password_field :password, placeholder: "Password", class:"form-control" %><br>
		    	<%= f.submit :Submit, class: "btn btn-primary"%>
			<% end %>
		
	<% end %>	
