<div class="col-lg-8">
	<% @complaints.each do |complaint| %>

			<div <% if @lasttime!=nil %><% if @lasttime<complaint.created_at %> class="panel panel-success"<%else%> class="panel panel-default"<% end %><%else%> class="panel panel-default"<% end %>   >
	            <div class="panel-heading">
	                <h3><%= complaint.title %><small class="pull-right"><%= complaint.category.name %></small></h3><h4> <small>by <%= complaint.user.fullname.titleize %>  | <%= complaint.user.username %> | <span class="glyphicon glyphicon-time"></span> <%= (complaint.created_at+330.minutes).strftime("%d-%m-%y   %l:%M %p") %> </small><span class="badge pull-right"><%= complaint.messages.count %></span></h4>
	            </div>
	            <div class="panel-body">
	                <p><%= complaint.content %></p>
	            </div>
	            <div class="panel-footer">
	            	<%= link_to 'View', complaint, class:"btn btn-primary" %>
	            	<% if current_user == complaint.user %>
	            	   	<%= link_to 'Delete', complaint, method: :delete, class:"btn btn-danger" %>
	            	<% end %>
	            </div>
	        </div>



	<% end %>
</div>
<div class="col-lg-4">
<%= render 'complaints/new' %>
</div>
